.homepage-hero-text-area {
  text-align: left;
}

.homepage-hero-text-1 {
  color: #f0f0f0;
  font-family: Inter;
  font-size: 76px;
  font-weight: bold;
  transform: translateY(20px);
}

.homepage-hero-text-2 {
  color: #6E7681;
  font-family: Inter;
  font-size: 76px;
  font-weight: bold;
}