<form class="ui form ignore-dirty"  style="max-width: 90%;">
	<div class="ui fluid action input">
		<input name="q" value="{{.Keyword}}" placeholder="{{.locale.Tr "explore.search"}}..." autofocus>
		<button class="ui primary button">{{.locale.Tr "explore.search"}}</button>
	</div>
</form>
