
<form class="ui form ignore-dirty" style="margin-top: 32px; margin-bottom: 32px">
	<input type="hidden" name="sort" value="{{$.SortType}}">
	<input type="hidden" name="language" value="{{$.Language}}">
	<div class="ui fluid action input">
		<input name="q" value="{{.Keyword}}" placeholder="Search..." autofocus>
		<button class="ui primary button">{{.locale.Tr "explore.search"}}</button>
	</div>
</form>
