<form class="ui form ignore-dirty" style="margin-top: 32px; margin-bottom: 32px;">
	<div class="ui fluid action input">
		<input name="q" value="{{.Keyword}}" placeholder="{{.locale.Tr "explore.search"}}…" autofocus>
		<button class="ui primary button">{{.locale.Tr "explore.search"}}</button>
	</div>
</form>
